Heading

# Heading 1

## Heading 2

### Heading 3

### Main Heading 
    - Subheading 1

### Data Types
- It tells us what kind of value a variable holds
- Since Python is dynamically defined the datatype, you don't explicitly define the data type when you create

In [1]:
# Integer
a = 10
a = 20
print(a)
print(type(a))

20
<class 'int'>

In [2]:
# float
b = 10.5
print(b)
print(type(b))

10.5
<class 'float'>

In [3]:
# strings
name = 'Hi AIBees'
name2 = "Welcome to AIBees"
name3 = '''This is a multi-line '''
print(name)
print(type(name))
print(name2)
print(type(name2))
print(name3)
print(type(name3))

Hi AIBees
<class 'str'>
Welcome to AIBees
<class 'str'>
This is a multi-line
<class 'str'>

In [ ]:
sample = """0.1python_core.ipynb
asdfasdfasdfa
asdfadsfadsa
"""
print(sample)

0.1python_core.ipynb
asdfasdfasdfa
asdfadsfadsa

In [11]:
a = "string1"
print(a)
print(type(a))

string1
<class 'str'>

In [23]:
# Boolean
is_active = True
is_logged_in = False
print(is_active)
print(type(is_active))

True
<class 'bool'>

In [24]:
print(int(is_active))  # True -> 1
print(int(is_logged_in))  # False -> 0

1
0

### Lists
- Lists are mutable (we can modify the data)

In [12]:
fruits = ['apple', 'banana', 'mango']
print(fruits)
print(type(fruits))

['apple', 'banana', 'mango']
<class 'list'>

In [ ]:
# Python index always starts from 0
fruits[0]

'apple'

In [14]:
fruits[2]

'mango'

In [15]:
fruits

['apple', 'banana', 'mango']

In [16]:
fruits.append('orange')

In [17]:
fruits

['apple', 'banana', 'mango', 'orange']

In [19]:
fruits[0] = "grapes"

In [20]:
print(fruits)

['grapes', 'banana', 'mango', 'orange']

In [21]:
# Heterogeneous List
mixed_list = [10, 20.5, 'Hello', True, [1, 2, 3]]
print(mixed_list)

[10, 20.5, 'Hello', True, [1, 2, 3]]

### Tuple
- Tuples are immutable (we can't change the data)

In [25]:
fruits = ('apple', 'banana', 'cherry')
print(fruits)
print(type(fruits))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [26]:
fruits[0]

'apple'

In [27]:
fruits[0] = 'orange'
print(fruits)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Heterogeneous tuple
mixed_tuple = (10, 20.5, 'Hello', True, [1, 2, 3])
print(mixed_tuple)

(10, 20.5, 'Hello', True, [1, 2, 3])

### Dictionary

In [32]:
user = {
    'name': 'John Doe',
    'age': 30,
    'is_active': True,
    'skills': ['Python', 'Machine Learning', 'Data Science'],
    
}
print(user)
print(type(user))

{'name': 'John Doe', 'age': 30, 'is_active': True, 'skills': ['Python', 'Machine Learning', 'Data Science']}
<class 'dict'>

In [33]:
user['name']

'John Doe'

### Control Flow

In [40]:
score = 80
if score >= 90:
    print("Grade A")

In [41]:
score = 80
if score >= 90:
    print("Grade A")    
else:
    print("Grade B")

Grade B

In [42]:
score = 85
if score > 90:
    grade = 'A'
elif score >= 80: 
    grade = 'B'
else:
    grade = 'C'

print(grade)

B

### Loops

In [45]:
# for loop
numerical_list = [10, 20, 30, 40, 50]
print(numerical_list[0])
print(numerical_list[1])

10
20

In [46]:
for num in numerical_list:
    print(num)

10
20
30
40
50

In [ ]:
# while loop
x = 0
while x < 5:
    print(x)
    x += 1  # x = x + 1

0
1
2
3
4

### Functions

In [51]:
def greet(name):
    print("Hello, " + name + "!")

In [52]:
greet("AIBees")

Hello, AIBees!

In [53]:
greet("Alice")

Hello, Alice!

In [57]:
# Check number is even or odd
def check_even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return  "Odd."

In [58]:
check_even_odd(10)

'Even'

In [60]:
check_even_odd(7.5)

'Odd.'

### Exception Handling in Python

In [63]:
def even_or_odd(number):
    try:
        if number % 2 == 0:
            return "Even"
        else:
            return "Odd."
    except TypeError:
        return "Invalid input. Please provide an integer."

In [64]:
even_or_odd(5)

'Odd.'

In [65]:
even_or_odd("5")

'Invalid input. Please provide an integer.'

In [67]:
def even_or_odd(number):
    try:
        if number % 2 == 0:
            return "Even"
        else:
            return "Odd."
    except Exception as e:
        return f"Error: {e}"

In [68]:
even_or_odd("5")

'Error: not all arguments converted during string formatting'

In [69]:
"5" % 2

TypeError: not all arguments converted during string formatting

In [71]:
try:
    result = 10/0
except ZeroDivisionError:
     print("Cannot divide by zero.")

Cannot divide by zero.

### List Comprehension

In [73]:
# square of elements in a list
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    result = num * num
    print(f"{num} squared is {result}")

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

In [74]:
[num*num for num in numbers]

[1, 4, 9, 16, 25]

### Lambda Functions

In [ ]:
add =  lambda x, y : x + y
print(add(5, 3))

8

### Class and OOP
- class LLM : blueprint or building plan
- __init__ : constructor or building material
- self: refers as instance itself or which building we are referring to
- summarize : function and serves specific task or performs certain action on the building
- gemini = LLM("Gemini Pro"): object  or phycial building
- gemini.summarize : Method calling  or performing certain action on building

In [76]:
class LLM:
    def __init__(self, model_name):
        self.model_name = model_name

    def summarize(self, text):
        return f"Summarized text by {self.model_name}: {text}"

In [77]:
gemini = LLM("Gemini Pro")
print(gemini.summarize("This is a sample text to be summarized."))

Summarized text by Gemini Pro: This is a sample text to be summarized.

In [78]:
class BankAccount:
    """
    Blueprint for creating individual bank accounts
    Each account has a name and its own unique balance
    """
    #constructor
    def __init__(self, owner_name, initial_balance=0):
        self.owner_name = owner_name
        self.balance = initial_balance
        print(f"Account for {self.owner_name} created with balance {self.balance}.")

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited {amount}. New balance is {self.balance}.")
        else:
            print("Deposit amount must be positive.")

    def withdraw(self, amount):
        if amount > self.balance:
            print("Insufficient funds for withdrawal.")
        else:
            self.balance -= amount
            print(f"Withdrew {amount}. New balance is {self.balance}.")    
                     

    def get_balance(self):
        return f"current balance is {self.balance} for {self.owner_name}."

In [79]:
account_alice = BankAccount("Alice", 500)
account_bob = BankAccount("Bob")

print("-" * 20)

account_alice.deposit(150)
account_bob.deposit(50)

print("-" * 20)

account_alice.withdraw(100)
account_bob.withdraw(200)

print("-" * 20)

print(account_alice.get_balance())
print(account_bob.get_balance())

Account for Alice created with balance 500.
Account for Bob created with balance 0.
--------------------
Deposited 150. New balance is 650.
Deposited 50. New balance is 50.
--------------------
Withdrew 100. New balance is 550.
Insufficient funds for withdrawal.
--------------------
current balance is 550 for Alice.
current balance is 50 for Bob.